logs
/project/project
/tmp
.history
dist
.idea
*.iml
out
.idea_modules
.classpath
.project
/RUNNING_PID
.settings
/test_*
/script/*_pb2*.py
.DS_Store
__pycache__/
.pyc
*.log
.ipynb_checkpoints

/.idea/
/data/
/data_cache/
/config/app.yml
/config/app_*.yml
/output/
/model/
/ckpt/
/venv/
/*.out
*.pyc
.log
/logs/
/saved_model/
.ipynb